<%- contentFor('content') %>
<h2>Liste des joueurs</h2>

<ul id="playerList">
    <% players.forEach(function(player, index) { %>
        <li><%= player.name %> <% if(player.name !== 'Manu') { %><a href="/deletePlayer?player=<%= player.name %>" class="remove"><i class="far fa-trash-alt"></i></a><% } %></li>
    <% }); %>
</ul>

<form id="playerAddForm" method="post" name="playerForm" action="addPlayer">
    <div class="form-group">
        <label for="playerName">Ajouter le joueur</label>
        <input type="text" name="player" class="form-control" id="playerName" style="width: 60%; display: inline;" placeholder="John Doe">
        <button type="submit" class="btn btn-warning">Ajouter</button>
    </div>
</form>

<%- contentFor('footer') %>
<a href='/' class="btn btn-dark cta" id="newGame">Retour au jeu</a>

<%- contentFor('script') %>
<script>
    $(function() {
        
    });
</script>
</html>
